<div class="panel panel-default">
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>Type</th>
                <th>Description</th>
                <th>Online</th>
                <th>Enrollment</th>
                <th></th>
            </tr>
            <tr *ngFor="let item of items">
                <td>
                    {{item.deviceType}}
                </td>
                <td>
                    {{item.description}}
                </td>
                <td *ngIf="item.isOnline">
                    Online Now
                </td>
                <td *ngIf="!item.isOnline">
                    {{item.lastOnline}}
                </td>
                <td>
                    <button class="btn"
                            [class.btn-success]="item.isEnrolled"
                            [class.btn-warning]="!item.isEnrolled"
                            (click)='toggleEnrollClicked(item)'>
                        {{item.isEnrolled ? "Enrolled" : "Not Enrolled"}}
                    </button>
                </td>
                <td>
                    <div class="btn btn-default" (click)='deleteDeviceClicked(item)'>
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>